/* main */
#main .gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100vw;
    height: 100vh;
    margin-top: 75px; 
}

#main .gallery .column {
    overflow: hidden;
    position: relative;
}

#main .gallery .scroller {
    display: flex;
    flex-direction: column;
    animation: scrollLoop 20s linear infinite;
}

#main .gallery .column-2 .scroller {
    animation: scrollLoopReverse 30s linear infinite;
}

#main .gallery .column-3 .scroller {
    animation: scrollLoop 20s linear infinite;
}

#main .gallery .masonry-item {
    overflow: hidden;
    position: relative;
    line-height: 0;
}

#main .gallery .masonry-item img,
#main .gallery .masonry-item video {
    width: 100%;
    height: auto;
    display: block;
    margin: 0;
    padding: 0;
    border: none;
}

#main .gallery .masonry-item video {
    max-height: 350px; /* 영상 높이 제한 */
    height: 350px;
    border: none;
    object-fit: cover;
}

/* 이미지 호버 시 정보 보여주기 */
#main .gallery .masonry-item .info {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: #fff;
    color: #000;
    padding: 10px;
    opacity: 0.9;
    transform: translateY(100%);
    font-family: 'Cormorant', serif;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    display: none;
}

#main .gallery .masonry-item:hover .info {
    /* opacity: 1; */
    transform: translateY(0);
}

#main .gallery .scroller > * {
    flex-shrink: 0;
}

/* 스크롤 애니메이션 */
@keyframes scrollLoop {
    0% {
    transform: translateY(0);
    }
    100% {
    transform: translateY(-50%);
    }
}

@keyframes scrollLoopReverse {
    0% {
    transform: translateY(-50%);
    }
    100% {
    transform: translateY(0);
    } 
}

/* 아이패드(1024px 이하) */
@media (max-width: 1024px) { 

    #main .gallery .masonry-item .info {
    display: none !important;
    font-size: 12px;
    }

    #main .gallery {
        height: 100vh;
        overflow: hidden;
    }

    .about{
        width: 90%;
    }

    .about .image-container{
        width: 40%;
    }
    
}

/* 모바일 */
@media (max-width: 768px) {
    #main .gallery {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        height: 100vh;
        overflow: hidden;
    }
    #main .gallery .column {
        all: unset;
        
    }
    #main .gallery .masonry-item .info{
        font-size: 10px;
    }

    #main .gallery .masonry-item video{
        height: 175px;
    }
    #main .gallery .masonry-item .info{
        display: none !important;
    }
}