/* ───── 데스크탑 (3열 유지) ───── */
#main {
    display: flex;
    flex-direction: column;

    height: 100vh;
    background: #fff;
}

#main .gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    width: 100vw;
    height: 100vh;

    margin-top: 75px;

    overflow: hidden;
}

#main .gallery .column {
    position: relative;
}

#main .gallery .scroller > * {
    flex-shrink: 0;
}

/* Animation */
@keyframes scrollLoop {
    0% { transform: translateY(0); }
    100% { transform: translateY(-50%); }
}

@keyframes scrollLoopReverse {
    0% { transform: translateY(-50%); }
    100% { transform: translateY(0); }
}

#main .gallery .scroller {
    display: flex;
    flex-direction: column;

    will-change: transform;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
}

#main .gallery .scroller {
    animation: scrollLoop 20s linear infinite;  /* 공통 설정 */
}

#main .gallery .column-2 .scroller {
    animation: scrollLoopReverse 20s linear infinite;  /* 반대 방향으로 */
}


#main .gallery .masonry-item {
    position: relative;
    line-height: 0;
}

#main .gallery .masonry-item img{
    display: block;

    width: 100%;
    height: auto;

    margin: 0;
    padding: 0;

    border: none;
}

/* Videos */
#main .gallery .masonry-item video {
    width: 100%;
    height: auto;
}

@media (max-width: 767px) {
    #main .gallery .masonry-item video {
        max-height: 126px;
    }
}

@media (min-width: 768px) and (max-width: 1279px) {
    #main .gallery .masonry-item video {
        max-height: 250px;
    }
}

@media (min-width: 1280px) {
    #main .gallery .masonry-item video {
        max-height: 350px;
    }
}

/* ───── 모바일 (2열 유지) ───── */
@media (max-width: 767px) {

    #main .column-1 { order: 1; }
    #main .column-2 { display: none;}
    #main .column-3 { order: 2; }
    
    #main .gallery {
        grid-template-columns: repeat(2, 1fr);

        height: 100vh;

        margin-top: 0;
    }

    #main .gallery .column {
        position: relative;

        height: 100vh;
    }

    #main .gallery .scroller {
        height: auto;
    }

     @keyframes scrollLoopMobile {
        0% { transform: translate3d(0, 0, 0); }
        100% { transform: translate3d(0, -50%, 0); }
    }

    @keyframes scrollLoopReverseMobile {
        0% { transform: translate3d(0, -50%, 0); }
        100% { transform: translate3d(0, 0, 0); }
    }
    
    #main .gallery .column-1 .scroller {
        animation: scrollLoopMobile 10s linear infinite;
     }

    #main .gallery .column-3 .scroller {
        animation: scrollLoopReverseMobile 10s linear infinite;
    }
}

