#artist-list .gallery-container {
  position: relative;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;

  height: auto;

  margin-top:80px;
  padding: 0 10px;

  overflow: hidden;
}

#artist-list .gallery-item {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

#artist-list .gallery-item a {
  display: block;
  flex: 1;
  position: relative;
  text-decoration: none;
  color: inherit;
}

#artist-list .gallery-item img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center; 
}

#artist-list .gallery-item .overlay {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: 1;
}

#artist-list .gallery-item:hover .overlay {
  opacity: 0.8;
  background: #fff;
  border:2px solid #000;
}

#artist-list .gallery-item .job {
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  z-index: 99;
  font-size: clamp(20px, 4vw, 35px);
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  font-family: "Roboto Condensed", sans-serif;
  letter-spacing: 5px;
}

#artist-list .gallery-item:hover .job {
  color: #111;
}

#artist-list .gallery-item .name {
  padding: 13px 0;

  font-family: 'Times New Roman', serif;
  font-size: clamp(16px, 2.5vw, 19px);
  font-weight: 400;
  color: #000;

  background-color: #fff;
}

/* ───── 모바일 ───── */
@media (max-width: 767px) {
  #artist-list .gallery-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
    padding: 0 10px;
    height: auto;
    overflow: visible;
    margin-top: 20px;
  }
}

/* ───── 13인치 노트북 ───── */
@media (min-width: 1280px) and (max-width: 1439px) {
  #artist-list .gallery-container {
    margin-top: 15px;
  }
}

/* ───── 16인치 노트북 ───── */
@media (min-width: 1440px) and (max-width: 1919px) {
  #artist-list .gallery-container {
    margin-top: 15px;
  }
}


