/* PHOTOGRAPHER - VIEW */
#photographer-view .main-content {
    display: flex;
    justify-content: center;
    margin-top: 130px;
    margin-bottom: 118px;
}

#photographer-view .main-content .magazine-cover {
    width: 575px;
    height: 868px;
}

#photographer-view .main-content .magazine-cover img {
    width: 100%;
    height: auto;
    display: block;
}

/* info */
#photographer-view .main-content .bottom-info {
    margin: 27px 0 0 20px;
    font-size: 43px;
    font-weight: 500;
    text-align: center;
    font-family:'Times New Roman', sans-serif;
}

#photographer-view .main-content .bottom-info small {
    display: block;
    font-size: 11px;
    margin-top: 14px;
    font-family: "Roboto", sans-serif;
}

#photographer-view .gallery-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr); 
    gap: 60px; /*줄이면 전체 세로 공간도 줄어듦 */
    padding: 30px 40px 40px;
    margin: auto;
}

#photographer-view .title{
    padding: 0 40px;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 16px;
    text-transform: uppercase;
}

#photographer-view .gallery-item img {
    width: 100%;
    height: 340px;
    cursor: pointer;
    aspect-ratio: 2 / 2;
    width: 100%;
    height: auto;
    object-fit: contain;
}

#photographer-view .gallery-item span{
    display: block;
    padding: 5px 0;
    font-size: 15px;
    font-weight: 700;
    text-align: center;
}

#photographer-view .view-more-btn{
    padding:30px 0;
    margin-bottom:100px;
    text-align: center;
    text-decoration: underline;
    font-size:20px;
    font-family: 'Times New Roman', sans-serif;
}

#photographer-view .view-more-btn a{
    color:#000;
}

@media (min-width: 1025px) {
  #photographer-view .main-content {
    margin-top: 70px;
    margin-bottom: 80px;
    align-items: center;
    height: calc(100vh - 180px); /* header 영역 제외한 높이 */
    flex-direction: column;
    justify-content: center;
    display: flex;
  }

  #photographer-view .magazine-cover {
    width: 450px;
    height: auto;
  }

  #photographer-view .main-content .bottom-info {
    font-size: 28px;
    margin: 20px 0 0 0;
  }

  #photographer-view .main-content .bottom-info small {
    font-size: 11px;
    margin-top: 8px;
  }
}
