/* reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

video {
    width: 100%;
    height: auto;
    display: block;
    pointer-events: none;
    touch-action: none;
}

video::-webkit-media-controls-play-button {
    display: none;
}
