#photographer-view .main-content {
    display: flex;
    justify-content: center;
    margin: 34px 0 118px;
}

#photographer-view .main-content .magazine-cover {
    max-width: 647px;
    object-fit: contain;
    width: 100%;
}

#photographer-view .main-content .magazine-cover img {
    display: block;
    width: 100%;
}

#photographer-view .main-content .info {
    flex-shrink: 0;
    font-family: 'Times New Roman', sans-serif;
    font-size: 43px;
    font-weight: 500;
    margin: 29px 0 29px 0;
    text-align: center;
}

#photographer-view .main-content .info small {
    display: block;
    font-family: "Roboto", sans-serif;
    font-size: 11px;
    font-weight: 700;
}

/* Common */
#photographer-view .gallery-container {
    display: grid;
    gap: 40px 49px;
    grid-template-columns: repeat(5, 1fr); 
    padding: 31px 40px 40px;
}

#photographer-view .gallery-item img {
    height: 370px;
    max-height: 370px;
    object-fit: contain;
    width: 100%;
}

#photographer-view .gallery-item span {
    display: block;
    font-size: 12px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}

#photographer-view .title {
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 17px;
    letter-spacing: 1px;
    padding: 0 40px;
    text-transform: uppercase;
}

#photographer-view .view-more-btn {
    font-family: 'Times New Roman', sans-serif;
    font-size: 20px;
    margin-bottom: 100px;
    padding: 30px 0;
    text-align: center;
    text-decoration: underline;
}

/* ───── 모바일 ───── */
@media (max-width: 767px) {
    
    #photographer-view .main-content {
        margin: 20px 0 0;
    }

    #photographer-view .main-content .magazine-cover {
        max-width: 440px;
        padding: 0 15px;
    }

    #photographer-view .main-content .info {
        font-size: 35px;
        margin: 35px 0 35px 0;
    }

    #photographer-view .main-content .info small {
        margin-top: 5px;
    }

    #photographer-view .title {
        font-size: 14px;
        padding: 0 20px;
    }

    #photographer-view .ad {
        margin-top: 20px;
    }

    #photographer-view .gallery-container {
        gap: 25px 61px;
        grid-template-columns: repeat(2, 1fr);
        padding: 15px 30px;
    }

    #photographer-view .gallery-item img {
        height: 212px;
        max-height: 212px;
    }

    #photographer-view .gallery-item span {
        font-size: 13px;
    }

    #photographer-view .view-more-btn {
        font-size: 16px;
        margin-bottom: 30px;
        padding: 15px 0;
    }
}

/* ───── 노트북 13인치 ───── */
@media (min-width: 1440px) and (max-width: 1919px) {
    #photographer-view .main-content .magazine-cover {
        max-width: 400px;
    }

    #photographer-view .gallery-container {
        padding: 0 40px 40px;
    }
}

/* ───── 노트북 16인치 ───── */
@media screen and (min-width: 1728px) {
    
}

