/* ───── 데스크탑 ───── */
#photographer-view .main-content {
    display: flex;
    justify-content: center;
    margin: 34px 0 118px;
}

#photographer-view .main-content .magazine-cover {
    max-width: 647px;
    width: 100%;
    object-fit: contain;
}

#photographer-view .main-content .magazine-cover img {
    display: block;
    width: 100%;
}

#photographer-view .main-content .info {
    flex-shrink: 0;
    margin: 29px 0 29px 0; 
    font-family:'Times New Roman', sans-serif;
    font-weight: 500;
    font-size: 43px;
    text-align: center;
}

#photographer-view .main-content .info small {
    display: block;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 11px;
}

/* Common */
#photographer-view .gallery-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr); 
    gap: 34px;
    padding: 30px 40px 40px;
}

#photographer-view .title{
    padding: 0 40px;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 17px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

#photographer-view .gallery-item img {
    width: 100%;
    max-height: 370px;
    height: 370px;
    object-fit: contain;
}

#photographer-view .gallery-item span{
    display: block;
    font-size: 15px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}

#photographer-view .view-more-btn{
    margin-bottom: 100px;
    padding: 30px 0;
    font-family: 'Times New Roman', sans-serif;
    font-size:20px;
    text-align: center;
    text-decoration: underline;
}

/* ───── 모바일 ───── */
@media (max-width: 767px) {

    #photographer-view .main-content{
        margin: 20px 0 0;
    }

    #photographer-view .main-content .magazine-cover{
        max-width: 440px;
        padding: 0 15px;
    }

    #photographer-view .main-content .info{
        margin: 35px 0 35px 0;
        font-size: 35px;
    }

    #photographer-view .main-content .info small{
        margin-top: 5px;
    }

     #photographer-view .title {
        padding: 0 20px;
        font-size: 14px;
    }

    #photographer-view .gallery-container {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        padding: 15px;
    }
   
    #photographer-view .gallery-item img {
        max-height: 212px;
        height: 212px;
    }

    #photographer-view .gallery-item span {
        font-size: 13px;
    }

    #photographer-view .view-more-btn {
        margin-bottom: 30px;
        padding: 15px 0;
        font-size: 16px;
    }
}

/* ───── 13인치 노트북 ───── */
@media (min-width: 1440px) and (max-width: 1919px) {
    #photographer-view .main-content .magazine-cover{
        max-width: 400px;
    }

    #photographer-view .gallery-container{
        padding: 0 40px 40px;
    }
}


